/* SAP Fiori Icons */
@font-face {
  font-family: 'SAP Fiori Icons';
  src:
    url('http://www.bizartconsulting.com/path/to/SAP-icons.woff2') format('woff2'),
    url('http://www.bizartconsulting.com/path/to/SAP-icons.woff') format('woff'),
    url('http://www.bizartconsulting.com/path/to/SAP-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}